.container {
  margin-top:10px;
  margin-left: 0;
  margin-right: 0;
}

.purchase-card {
  padding: 1em;
  width:370px;
  box-shadow: 0 4px 8px 0 rgba(3, 3, 3, 0.2);
  float: right;
  margin-right:20px;
}
.items {
  float: left;
  width: 700px;
  border: 1px solid black;
  margin-right: 20px !important;
}